plan.bat
plan-prod.bat
destroy.bat
terraform/.terraform/*

# Local .terraform directories
**/.terraform/*

# Ignore variables files
*.auto.tfvars

.terraformrc

# Ignore override files
*.tfoverride

# Ignore environment-specific files
.envrc

# Ignore CLI configuration files
terraform.rc
/terraform/.terraform/**

**/.tfstate
**/.tfstate.backup